<div class="field-list">
    {{>(template "fields/number") label="Base" edit="system.level"}}
    {{>(template "fields/number") label="Mod." edit="system.LevelMod"}}
    {{>(template "fields/number") label="Level" edit="system.LevelFinal"}}
</div>

<div class="field-list">
    {{>(template "fields/boolean") label="Chipped" edit="system.chipped"}}
    {{>(template "fields/number") label="LevelChipped" edit="system.chipLevel"}}    
</div>

<div class="field-list">
    {{>(template "fields/number") label="ImprovementPoints" edit="system.ip"}}
    {{>(template "fields/number") label="DifficultyMod" edit="system.diffMod"}}
</div>
<div class="field-list">
    {{>(template "fields/select") label="Stat" edit="system.stat" choices=stats noTranslateOptions=true}}
    {{>(template "fields/boolean") label="IsRoleSkill" edit="system.isRoleSkill"}}
</div>